.mission{
    padding: 25vw 25px;
    background-color: rgb(252, 251, 248);
}

.mission h2{
    padding-left: 0.6em;
    text-indent: -0.6em;
    font-size: 6vw;
    text-align: center;
}


.logoContainer{
display: flex;
justify-content: center;
max-width: 384px;
margin: auto;
margin-top: 10vw;

}

.logoContainer img{
    height: 12vw;
    margin: 0 5vw;
}

.features{
    text-align: center;
    padding: 15vw 0;
}

.features h2{
    font-size: 6vw;
    padding: 0 18px;
}

.statement{
    padding: 25vw 25px;
    background-color: rgb(252, 251, 248);

}

.statement p{
    font-size: 1.4em;
    max-width: 600px;

}

.howItWorks{
    background-color: rgb(22, 28, 47);
    color: white;
    padding: 25px;

}



.howItWorks {
    background-color:  rgb(22, 28, 47);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .textContainer {
    text-align: center;
    width: 100%;
  }
  
  .textContainer p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0;
  }

span.icons {
    font-size: 12vw;
    font-variation-settings: 'OPSZ' 12vw;
    color: rgba(156, 107, 38, 0.463);
    margin: 0 5vw;
    font-weight: 200;
  }
 

@media screen and (min-width: 700px) {
.widthLimit{
 display: flex;
justify-content: center;


}
.mission h2{
    display: inline-block;
    vertical-align: middle;
    font-size: 3vw;
}

.logoContainer{
    display: inline-block;
    max-width: none;
    margin: 0 0 0 5vw;
    align-content: center;

}

span.icons {
    font-size: 6vw;
    font-variation-settings: 'OPSZ' 6vw;
    margin: 0 3vw;
  }

.mission::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
 }

 .mission{
    padding: 10vw 25px;
 }

 .features{
    padding: 75px 0;
}

.features h2{
    font-size: 3vw;
}

.statement{
    padding: 75px 25px;
}

}

