.blog {
  background-color: rgb(252, 251, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.blog a{
  color: black;
}

.blog a:visited{
  color: black;
}

.blogCard{
  max-width: 650px;
  background-color: rgb(229, 241, 135);
  padding: 25px;
  margin: 20px 0;
}