.mission {
    overflow: hidden;
    text-align: center;
}

.mission h2 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 0;
}

.mission img {
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 8px;
}

a:not(.topnav a){
    margin: 18px 0;
    display: inline-block;
}

.features {
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 5vw;
}

.features h2 {
    font-size: 6vw;
    text-align: center;
    margin: 0;
}

.features p,
.howItWorks p {
    width: 80%;
    margin: auto;
    font-weight: 300;
    margin-top: 10px;
    max-width: 640px;
}

.howItWorks {
    background-color: rgb(22, 28, 47);
    color: white;
    padding: 25px;
    background-color: rgb(22, 28, 47);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textContainer {
    text-align: center;
    width: 100%;
}

.textContainer p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0;
}

@media screen and (min-width: 900px) {
    .mission h2 {
        font-size: 48px;
    }

    .mission img {
        width: 550px;
    }

    .features {
        padding: 50px 0;
    }

    .features h2 {
        font-size: 48px;
    }
}