.bookRequest {
    background-color: rgb(252, 251, 248);
    padding: 5px 25px 25px 25px;
  }
  
  label {
    display: none;
  }
  
  input {
    width: calc(100% - 10px - 4px);
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  input::placeholder {
    font-weight: 500;
  }
  
  input[type=submit] {
    /*font-family: Arial, sans-serif;*/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2em;
    background-color: rgb(229, 241, 135);
    border: none;
    width: 140px;
    height: 80px;
    margin: auto;
    display: block;
    cursor: pointer;
    margin-top: 30px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(175, 241, 131);
  }
  
  .scanningTech {
    background-color: rgb(22, 28, 47);
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .library {
    background-color: rgb(245, 245, 247);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .textContainer {
    text-align: center;
    width: 100%;
  }
  
  .textContainer p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0;
  }
  
  .textContainer h2 {
    margin: 0 15px 10px 15px;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 700px) {
    .bookRequest {
      padding: 0 50px;
      padding-bottom: 25px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
  
    h2 {
      font-size: 3em;
    }
  }