.bookRequest {
    background-color: rgb(252, 251, 248);
    padding: 5px 25px 25px 25px;
  }

  .bookRequest h2{
    min-width: 250px;
    margin-bottom: 15px;
  }

  .bookRequest p{
    max-width: 300px;
    margin: 16px auto;
    font-size: 12px;
  }

  a:not(.topnav a){
    display: inline-block;
    text-align: left;
    /*margin-bottom: 25px;*/
}

form{
    margin-top: 25px;
}

  label {
    display: none;
  }
  
  input[type=text], input[type=email]{
    width: calc(100% - 10px - 4px);
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  input::placeholder {
    font-weight: 500;
  }
  
  input[type=submit] {
    /*font-family: Arial, sans-serif;*/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2em;
    background-color: rgb(229, 241, 135);
    border: none;
    width: 140px;
    height: 80px;
    margin: auto;
    display: block;
    cursor: pointer;
    margin-top: 30px;
    color: black;
  }
  
  input[type=submit]:hover {
    background-color: rgb(175, 241, 131);
  }
  
  .scanningTech {
    background-color: rgb(22, 28, 47);
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .library {
    background-color: rgb(245, 245, 247);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .textContainer {
    text-align: center;
    width: 100%;
  }
  
  .textContainer p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0;
  }
  
  .textContainer h2 {
    margin: 0 15px 10px 15px;
  }

  .widthLimit {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }

.book:not(:last-of-type){
  border-bottom: 2px solid rgb(210, 210, 210);
}

.book{
  display:flex;
  align-items:top;
  max-width: 1000px;
  margin: 10px auto 10px auto;
  margin: auto;
}

.book h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.book a{
  margin-bottom: 5px;
}

.book img {
  height: 260px;
  width: 173px;
  object-fit:contain;
  margin: 20px 20px 20px 0;
}

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 700px) {
    .bookRequest {
      padding: 0 50px;
      padding-bottom: 25px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
  
    h2 {
      font-size: 48px;
    }
  }
