@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}

body {
  overflow-x: hidden;
}

h1 {
  /*font-family: Arial, sans-serif;*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  vertical-align: bottom;
  display: inline-block;
  margin: -1px 0 0 0.2em;
  color: black;
}


h2 {
  /*font-family: Arial, sans-serif;*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
}

a {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

#ReRead_logo {
  height: 50px;
  display: block;
  float: left;
  margin-left: 8px;
}

.topnav {
  overflow: hidden;
  min-width: 307px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 10px 0;
}

.split {
  display: none;
}

.split.responsive {
  display: block;
  margin-top: 20px;
}

/* Style the links inside the navigation bar */
.split a {
  float: none;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 30px;
}

.split a:hover span {
  text-decoration: underline;
  text-underline-offset: 9px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
}

.topnav .icon {
  float: right;
  display: block;
  padding: 8px 20px;
  margin-top: -1px;
}

.line {
  background-color: black;
  width: 20px;
  height: 2px;
  margin: 13px 0;
}

#author_date{
  text-align: center;
  font-style: italic;
  margin: 0;
  }


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 700px) {
  .split {
    display: block;
    float: right;
  }

  .split a {
    float: left;
    text-align: center;
    display: block;
    font-size: 24px;
  }

  .split.responsive {
    margin-top: 0;
  }

  .topnav a.icon {
    display: none;
  }

 

  #ReRead_logo {
    margin-left: 1.5em;
  }
}